button{
    height: 30px;
    background-color: black;
    color: white;
    /* padding: 20px 30px 25px 30px; */
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    
}
.header{
    height: 60px;
    width: 100vw;
    background-color: rgb(21, 12, 12);
}
button:hover{
    background-color: rgb(137, 200, 29);
    cursor: pointer;
}
/* table{
    border: 1px solid black; */

td{
    border: 1px solid black;
    border-spacing: 0px;
}
tr{
    border-collapse: collapse;
    
}