/* p{color: purple; font-size: 40px; border: 1px solid rgb(19, 23, 19); 
margin: 50px;
padding: 10px;
text-transform: capitalize;} */


.main2{
    color: blueviolet;
    background-color: beige;
    border: 2px dotted red ;
    font-size: 30px;
}
.main{
    color: aqua;
    background-color: antiquewhite;
    font-size: 40px;
    border: 1px solid rgb(165, 12, 45);
}
.main1{
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
     color: chartreuse;
     background-color: aliceblue;
     border: 3px dashed purple;
}
.main3{
    border-left: 10px;
    text-align: left;
    text-transform: capitalize;
    color: darkorange;
    background-color: bisque;
    padding-bottom: 30px;
    margin: 20 10 25 30;
}
.container{
    font-size: 20px;
    border: 1px solid red;
    width: 300px;
    height: 200px;
    text-overflow:ellipsis;
    overflow-y: auto;
    overflow-x: auto;
    text-decoration-color: aquamarine;
    font-style: italic;
    text-rendering: geometricPrecision;

}
div.container:hover{
overflow: visible;

}

.container1{
    text-shadow:5px 6px 4px rgb(222, 25, 143);
    font-size: 30px;
    text-transform: capitalize;
    text-decoration:underline ;
    
}