.nav{
    background-color:rgb(105, 235, 25);
    padding: 10px;
    height: 25px;
    
}
.dropbtn{
    background-color: rgb(13, 103, 188);
    color: white;
    cursor: pointer;
    border: none;
    height: 30px;
    font-size: 25px;
}
.dropbtn:hover{
    opacity: .5;
    background-color: red;
    
}
div.nav a{
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
}
.dropbtn {
    text-decoration: none;

}
.downcontent a{
    min-width: 150px;
    display: block;
}
div.nav .dropbtn:hover .downcontent a{
    display: block;
}
