.nav{
    background-color:rgb(105, 235, 25);
    padding: 10px;
    height: 30px;
    
}
.drop{
    background-color: rgb(13, 103, 188);
    color: white;
    cursor: pointer;
    border: none;
    height: 30px;
    font-size: 25px;
}
.drop:hover{
    opacity: .5;
    background-color: red;
    
}
div.nav a{
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
}
.drop {
    text-decoration: none;

}
.down a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}