
<!-- <div class="main">

  <p>
    This is my First Web Application...
  </p>
  {{myName}}
</div>

{{mySurName2}}

<button (click) = "test()"> click</button> -->

<!-- <app-user></app-user>
<app-databinding></app-databinding> -->
<!-- <button routerLink="/user" >User</button> &nbsp;
<button routerLink="/databinding" >DataBinding</button> &nbsp;
 <a href="/user"> User Using A Tag</a> &nbsp;
 <button routerLink="/use" >wildCard</button> &nbsp;
 <a routerLink="/user"> User Using Routerlink</a> <br> -->
<button routerLink="/home">home-module</button> &nbsp;
<button routerLink="/landing">landing</button> &nbsp;
<button routerLink="/home-module">home-module landing</button> &nbsp;
<button routerLink="/home"> home-module-home</button> &nbsp;
<button routerLink="/contactus-module">Contact Us</button>&nbsp;
<button routerLink="/aboutus-module">About Us</button>&nbsp;
<button routerLink="/admin">Admin</button>
<!-- <button (click)="redirect()">Admin by .ts</button>
<button (click)="redirectabout()">About us by .ts</button> -->
<router-outlet></router-outlet>
